body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

.primary {
    color: $base-color;
}

.container {
    display: flex;
    position: relative;
    width: 1170px;
    height: 100%;
    margin: 0 auto;
}