* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    text-align: center;
}

h2 {
    text-transform: uppercase;
    padding: 1%;
    font-weight: 400;
}

.btn {
    text-decoration: none;
}

.btn.btn:hover {

    background-color: #007bff;
    transition: all 0.2s;
    color: #fff;

}


span.underline {
    display: block;
    width: 20vh;
    border-bottom: #007bff solid 2px;
    text-align: center;

}

.header-child p span.dott {
    color: #007bff;
}

h1 {
    text-transform: uppercase;
    color: #007bff;
    padding: 3vh;
    letter-spacing: 0.5vh;
}


header {
    background-image: url("../img/header.jpg");
    background-size: cover;
    background-position: center;

}

.header {
    margin: 0 auto;
}

.header p {
    display: inline-block;
    text-align: center;
    padding: 3%;
}


.header-child a.btn {
    display: inline-block;
    text-align: center;
    padding: 10px 15px;
    border: 2px solid #007bff;
    width: 30vh;
    text-transform: uppercase;
}



.header-child {
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}



/* nav */
nav {
    background-color: #007bff;
    position: sticky;
    top: 0;
    z-index: 9999;
}

a {
    text-decoration: none;
    color: #333;
}

nav ul.deskopt li {
    display: inline-block;
    padding: 2vh;
    text-transform: uppercase;
    color: #fff;
    transition: all 0.2s;
}

nav ul li:hover {
    background-color: #fff;
    color: #000;
}

input[type="checkbox"],
.label-nav {
    display: none;
}

/* section */
p.main {
    padding: 2%;
}

section .header-child img {
    padding: 2%;
    border-radius: 50%;
}

/* section gallery */
section.portfolio {
    background-color: #f2f1ed;
}

.portfolio-item {
    height: 200px;
    width: 200px;
    display: inline-block;
    position: relative;
}

.portfolio-item img {
    height: 100%;
    width: 100%;
}

.portfolio-item h3 {
    position: absolute;
    top: 0;
    line-height: 200px;
    width: 100%;
    background-color: #007bffa4;
    opacity: 0;
    transition: all 0.3;
    color: #fff;
    font-weight: 400;
}

.portfolio-item h3:hover {
    opacity: 1;
}

.gallery-flex {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}

.gallery-flex a {
    flex-basis: 25%;
}

.contact-child a {
    display: inline-block;
    text-align: center;
    padding: 10px 15px;
    border: 2px solid #007bff;
    width: 30vh;
    text-transform: uppercase;
}

.contact-child {
    margin: 0 auto;
    width: 80%;

}

.contact input[type="text"],
.contact input[type="email"] {
    display: inline-block;
    padding: 5px;
    width: 49vh;
    text-align: left;
    margin-bottom: 1%;
}

textarea {
    display: block;
    padding: 10px;
    margin: 0 auto;
    text-align: left;
    width: 100%;
    margin-bottom: 1%;

}

.socialmedia {
    padding: 2%;
}

.fa {
    font-size: 2rem;
    padding: 1%;
    color: #007bff;
    cursor: pointer;
}

footer {
    background-color: #f2f1ed;
    padding: 2%;
    opacity: 0.8;
}




@media(max-width:1024px) {
    .gallery-flex a {
        flex-basis: 33%;
    }
}

@media(max-width:652px) {
    .gallery-flex a {

        flex-basis: 49%;

    }
}

@media(max-width:575px) {
    .gallery-flex a {
        flex-basis: 80%;


    }
}

@media(max-width:538px) {
    .gallery-flex a {

        flex-basis: 100%;
        margin: 0 auto;

    }
}

@media (max-width:600px) {
    nav {
        text-align: right;
    }

    nav ul {
        display: none;
    }

    .label-nav {
        display: inline-block;
        padding: 10px 15px;
        color: #fff;
    }

    [type="checkbox"]:checked~.deskopt,
    .label-nav {
        display: block;
    }

    section .header-child img {
        height: auto;
        width: 50%;
    }





}