nav#t108-main-nav {
    form {
        button.btn-search {
            i {
                color: $base-color;
            }

            i:hover {
                color: $hover-color;
            }

        }
    }
}